.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-cell{
  width: auto;
}
.mat-cell-id{
  width: 100px;
}
.margin-btn-filter {
  margin-bottom: 5px;
}
.container-tab{
  height: auto;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
th{
  font-size: 15px;
  font-weight: 600;
}