<div style="overflow-x: hidden" fxLayout="column">
    <form [formGroup]="filters">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <mat-label class="card-title">Historial de Empleados</mat-label>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 pr-1">
                <mat-form-field style="width: 100%;">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="name" >
                  <mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 px-1">
                <mat-form-field style="width: 100%;">
                  <mat-label>Cedula</mat-label>
                  <input matInput formControlName="identification" >
                  <mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4 pl-1">
                <mat-form-field style="width: 100%;">
                  <mat-label>Cargo</mat-label>
                  <input matInput formControlName="cargo" >
                  <mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div  class="row">
              <div class="col-md-6 pr-1">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Fecha Inicial</mat-label>
                    <input matInput formControlName="initialDate" [matDatepicker]="initialDate">
                    <mat-datepicker-toggle matSuffix [for]="initialDate"></mat-datepicker-toggle>
                    <mat-datepicker #initialDate disabled="false"></mat-datepicker>
                  </mat-form-field>
              </div>
              <div class="col-md-6 px-1">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Fecha Final</mat-label>
                    <input matInput formControlName="finalDate" [matDatepicker]="finalDate">
                    <mat-datepicker-toggle matSuffix [for]="finalDate"></mat-datepicker-toggle>
                    <mat-datepicker #finalDate disabled="false"></mat-datepicker>
                  </mat-form-field>
              </div>
            </div>
            <div style="position:relative; top:50%; display: flex; justify-content: space-around;" class="row">
              <button mat-raised-button mat-stroked-button style="height:40px; width:200px; margin-right: 3px;"
                      type="button" class="">Buscar</button>
              <button mat-raised-button mat-stroked-button style="height:40px; width:200px;" type="" class="">Descargar Excel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <mat-card class="mat-elevation-z4">
      <div fxlayout="column">
        <div class="flex-p container-tab">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
  
            <ng-container  matColumnDef="name" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;">Nombre</th>
              <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.name}} </td>
  
            </ng-container>
  
            <ng-container  matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" > Apellido </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.lastName}} </td>
            </ng-container>
  
            <ng-container  matColumnDef="identification">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Cedula </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.identification}} </td>
            </ng-container>
  
            <ng-container  matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Edad </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.age}} </td>
            </ng-container>
  
            <ng-container  matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Teléfono </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.phone}} </td>
            </ng-container>
  
            <ng-container  matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Email </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.email}} </td>
            </ng-container>
  
            <ng-container  matColumnDef="birthday">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Fecha de nacimiento </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.birthday}} </td>
            </ng-container>
  
  
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Dirección </th>
              <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.address}} </td>
            </ng-container>
            
            <ng-container matColumnDef="cargo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Cargo </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.cargo}} </td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Acciones </th>
                <td mat-cell *matCellDef="let row" class="mat-cell-id">  </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
      </div>
    </mat-card>
  </div>
  