<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-2 col-md-2">
            <div class="icon-big text-center icon-success">
              <i class="nc-icon nc-circle-10 text-success"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <div class="numbers">
              <p class="card-category">Pacientes Registrados</p><br>
              <p class="card-title">Numero
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-2 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-paper text-warning"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <div class="numbers">
              <p class="card-category">Tratamientos Registrados</p><br>
              <p class="card-title">$ 1,345</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> 10
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-2 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-single-02 text-danger"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <div class="numbers">
              <p class="card-category" style="width: 100%;">Empleados Registrados</p><br>
              <p class="card-title">3
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> Mes
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-2 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-primary"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <div class="numbers">
              <p class="card-category">Sesiones en un mes</p><br>
              <p class="card-title">45
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div> -->
        <!-- <div class="card-body ">
           <canvas id=chartHours width="400" height="100"></canvas>
        </div> -->
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div> 
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Estadisticas de Registros</h5>
        <p class="card-category">Mes actual</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Pacientes
          <i class="fa fa-circle text-warning"></i> Empleados
          <i class="fa fa-circle text-danger"></i> Tratamientos
          <i class="fa fa-circle text-gray"></i> Productos
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> 2021
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Registro de Pacientes por mes </h5>
        <p class="card-category">2021</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Pacientes Registrados
          <!-- <i class="fa fa-circle text-warning"></i> BMW 5 Series -->
        </div>
        <hr/>
        
      </div>
    </div>
  </div>
</div>
