<div style="overflow-x: hidden;" fxLayout="column">
  <form [formGroup]="filters">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <mat-label class="card-title">Historial de Pacientes</mat-label>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 pr-1">
              <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" >
              <mat-error>
              </mat-error>
            </mat-form-field>
            </div>
            <div class="col-md-4 px-1">
              <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="lastName" >
                <mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 pl-1">
              <mat-form-field>
                <mat-label>Cédula</mat-label>
                <input matInput formControlName="identification" >
                <mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div  class="row">
            <div class="col-md-3 pr-1">
                <mat-form-field>
                  <mat-select (ngModelChange)="changeCharger()"  formControlName="user" placeholder="Usuario de atención">
                    <mat-option *ngFor="let el of usuarioList" [value]="el.value">
                      {{el.desc}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 px-1">
                <mat-form-field>
                  <mat-select formControlName="userName" placeholder="Nombre del Usuario">
                    <mat-option *ngFor="let ch of chargerList" [value]="ch.id">
                      {{ch.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 px-1">
                <mat-form-field>
                  <mat-label>Fecha Inicial</mat-label>
                  <input matInput formControlName="initialDate" [matDatepicker]="initialDate">
                  <mat-datepicker-toggle matSuffix [for]="initialDate"></mat-datepicker-toggle>
                  <mat-datepicker #initialDate disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3 pl-1">
                <mat-form-field>
                  <mat-label>Fecha Final</mat-label>
                  <input matInput formControlName="finalDate" [matDatepicker]="finalDate">
                  <mat-datepicker-toggle matSuffix [for]="finalDate"></mat-datepicker-toggle>
                  <mat-datepicker #finalDate disabled="false"></mat-datepicker>
                </mat-form-field>
            </div>
          </div>
          <div style="position:relative; top:50%; display: flex; justify-content: space-around;" class="row">
            <button mat-raised-button mat-stroked-button style="height:40px; width:200px; margin-right: 3px;"
                    type="button" class="" (click)="search()">Buscar</button>
                    <button mat-raised-button mat-stroked-button style="height:40px; width:200px; margin-right: 3px;"
                    type="reset" class="">Limpiar</button>
            <button mat-raised-button mat-stroked-button style="height:40px; width:200px;" type="" class="" (click)="download()">Descargar Excel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <mat-card class="mat-elevation-z4">
    <div fxlayout="column">
      <div class="flex-p container-tab">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 190%;">

          <ng-container  matColumnDef="dateA" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;">Fecha de atención </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.fechaAttemption}} </td>
          </ng-container>

          <ng-container  matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" > Nombre </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.name}} </td>
          </ng-container>

          <ng-container  matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Apellido </th>
        <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.lastName}} </td>
          </ng-container>

          <ng-container  matColumnDef="identification">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Cédula </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.identification}} </td>
          </ng-container>

          <ng-container  matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Fecha de Cumpleaños </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.birthday}} </td>
          </ng-container>

          <ng-container  matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Edad </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.age}} </td>
          </ng-container>

          <ng-container  matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Teléfono </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.phone}} </td>
          </ng-container>

          <ng-container  matColumnDef="treatment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Tratamiento </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.treatment}} </td>
          </ng-container>

          <ng-container  matColumnDef="treatmentType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Tipo de Tratamiento </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.treatmentType}} </td>
          </ng-container>

          <ng-container  matColumnDef="shotsBefore">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Disparos de la pistola antes</th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.shotsBefore}} </td>
          </ng-container>

          <ng-container  matColumnDef="shotsAfter">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Disparos de la pistola despues</th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.shotsAfter}} </td>
          </ng-container>

          <ng-container  matColumnDef="shotsDifferential">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Diferencia </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.shotsDifferential}} </td>
          </ng-container>

          <ng-container  matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Producto </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.product}} </td>
          </ng-container>

          <ng-container  matColumnDef="userAttemption">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Personal de Atención </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.userAttemption}} </td>
          </ng-container>

          <ng-container  matColumnDef="countSession">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Cantidad de Sesiones </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.sessions}} </td>
          </ng-container>

          <ng-container  matColumnDef="payForm">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Forma de Pago </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.formpay}} </td>
          </ng-container>

          <ng-container  matColumnDef="subscriber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Abonado </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.abonado}}$ </td>
          </ng-container>

          <ng-container  matColumnDef="comission">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Comisión </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.comission}}% </td>
          </ng-container>

          <ng-container  matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Precio Total </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id"> {{row.price}}$ </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Acciones </th>
            <td mat-cell *matCellDef="let row" class="mat-cell-id">  <div fxFlex="row">
              <div fxLayout="column" mat-stroked-button class="pointer"
                   (click)="goEdit(row.id);">
                <i style="font-size: 25px" class="nc-icon nc-tap-01" title="Editar"></i>
              </div>
            </div>
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" ></mat-paginator>
    </div>
  </mat-card>
</div>
