.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-cell{
  width: auto;
}
.mat-cell-id{
  width: 100px;
}
.margin-btn-filter {
  margin-bottom: 5px;
}
.container-tab{
  height: auto;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}
#saldos{
  margin-top: 15px;
  justify-content: center;
}

th{
   font-size: 15px;
   font-weight: 600;
}
.card-title{
  font-size: 18px;
}

#carta{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: large;
}

#tableRetirement{
flex: auto;
width: 100%;
}
