<div class="row">
 <div class="col-md-8" >
    <div class="card card-user" style="width: 150%;">
      <div class="card-header">
        <h1 class="card-title">Registrar Paciente</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="form">

          <div class="row">
          <div class="col-md-3 pr-1">
            <div class="form-group">
              <mat-label>Usuario registrante</mat-label>
              <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                <mat-label>Usuario registrante</mat-label>
                <mat-select formControlName="userRegister" (ngModelChange)="changeCharger()">
                  <mat-option *ngFor="let us of userList" [value]="us.value">
                    {{us.desc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="formControl">
                <mat-label>Nombre</mat-label>
                <mat-form-field  appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="name" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <mat-label>Apellido</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Apellido</mat-label>
                  <input matInput formControlName="lastName" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2 px-1">
              <div class="form-group">
                <mat-label>Cedula</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Cedula</mat-label>
                  <input matInput  formControlName="identification">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2 pl-1">
              <div class="form-group">
                <mat-label>Edad</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Edad</mat-label>
                  <input matInput formControlName="age" type="number">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <mat-label for="exampleInputEmail1">Email</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" type="email" placeholder="email@gmail.com">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <mat-label>Teléfono</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Teléfono</mat-label>
                  <input matInput  formControlName="phone" type="tel">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <mat-label>Fecha de Nacimiento</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <input matInput  formControlName="birthday" type="date">
                </mat-form-field>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <mat-label>Dirección</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Dirección</mat-label>
                  <input matInput  formControlName="address" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <mat-label>Referencia</mat-label>
              <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                <mat-label>Referencia</mat-label>
                <mat-select   formControlName="reference">
                  <mat-option *ngFor="let rf of referenceList" [value]="rf.id">
                    {{rf.reference}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div  class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <mat-label>Tratamiento</mat-label>
              <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                <mat-label>Tratamiento</mat-label>
                <mat-select formControlName="treatment" (ngModelChange)="changeTypeTreament()">
                  <mat-option *ngFor="let te of treatmentsList" [value]="te.id_tratamientos">
                    {{te.nameTreatment}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <mat-label>Tipos del Tratamiento</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Tipos</mat-label>
                  <mat-select [value]="treatmentType" formControlName="treatmentType"  (ngModelChange)="changePriceAndComision()">
                    <mat-option  *ngFor="let tp of treatmentTypeList" [value]="tp.id_tipo">
                      {{tp.nombreTipo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-4 pl-1">
              <mat-label>Forma de pago</mat-label>
              <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                <mat-label>Forma de pago</mat-label>
                <mat-select  formControlName="formPay" name="Pago">
                  <mat-option *ngFor="let mp of methodsList" [value]="mp.id">
                    {{mp.metodoPago}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="showDoctor"  class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <mat-label>Cantidad de sesiones</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Sesiones</mat-label>
                  <input matInput  formControlName="sessions" type="number">
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-6 pl-1">
              <div class="form-group">
                <mat-label>Producto Utilizado</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Producto</mat-label>
                  <mat-select  formControlName="product">
                    <mat-option *ngFor="let po of productList" [value]="po.id_productos">
                      {{po.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div *ngIf="showOperative" class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <mat-label>Disparos de la Pistola</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Antes</mat-label>
                  <input matInput  formControlName="beforeShots" type="number" placeholder="Antes" [(ngModel)]="total.disparoAntes">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <mat-label>Disparos de la Pistola</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Despues</mat-label>
                  <input matInput type="number" formControlName="afterShots" placeholder="Despues" [(ngModel)]="total.disparoDespues">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <mat-label>Diferencia</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Diferencia</mat-label>
                  <input matInput formControlName="diferents" [ngModel]="total.disparoAntes - total.disparoDespues">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div *ngIf="showOperative" class="col-md-4 pr-1">
              <mat-label>Operadora Encargada</mat-label>
              <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                <mat-label>Operadora Encargada</mat-label>
                <mat-select   formControlName="userOp" >
                  <mat-option *ngFor="let ch of chargerList" [value]="ch.id">
                    {{ch.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div  *ngIf="showDoctor" class="col-md-4 pr-1">
              <mat-label>Doctora Encargada</mat-label>
              <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                <mat-label>Doctora Encargada</mat-label>
                <mat-select formControlName="userDoc">
                  <mat-option *ngFor="let ch of chargerList" [value]="ch.id">
                    {{ch.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <mat-label>Abonado</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Abonado</mat-label>
                  <input matInput  formControlName="bono" type="number" [(ngModel)]="precio.abonado">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <mat-label>Total de la Venta</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Total</mat-label>
                  <input matInput formControlName="totalPrice" [ngModel]="precio.prices - precio.abonado" >
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <mat-label>Comisión de la Operadora</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Comision</mat-label>
                  <input matInput  formControlName="comission" [(ngModel)]="comissionPrice">
                  <span matPrefix>%&nbsp;</span>
                </mat-form-field>
              </div>
            </div>
        </div>
        <div class="row">
      </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-label>Nota</mat-label>
                <mat-form-field appearance="outline" class="form-group" style="width: 100%;">
                  <mat-label>Comentario</mat-label>
                  <textarea matInput formControlName="note" type="text"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class = row id="images">
            <div class="form-group">
              <img [src]="beforeImage" />
              <img [src]="afterImage" />
            </div>
          </div>


          <div style="justify-content: center; margin-bottom: 20px" class="row">
            <div class="form-group">
              <input type="file" (change)="onFileChangedBefore($event)">
              <div class="col-md-4 pl-1">
                <input mat-raised-button color="primary" type="button" value="Foto antes de la sesión" >
              </div>
            </div>
              <div class="form-group">
                  <input type="file" (change)="onFileChangedAfter($event)">
                <div class="col-md-4 pl-1">
                   <input mat-raised-button color="primary" type="button" value="Foto despues de la sesión" >
                </div>
              </div>
             </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button mat-raised-button  color="warn" type="submit" (click)="register()">Registrar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
